<div class="container">
    <h1>Message</h1>
    <div class="form-group">
        <input id="message" type="text" class="form-control" maxlength="140" placeholder="Enter message">
    </div>
    <div class="form-group">
        <button class="btn btn-success" onclick="sendMessage()">Send</button>
    </div>
    <h1>Chat Area</h1>
    <div id="comments">
    </div>
</div>