<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Login</h1>
      <div class="form-group">
        <input id="username" type="text" class="form-control" maxlength="20" placeholder="Enter a username">
      </div>
      <div class="form-group">
        <button class="btn btn-success" onclick="startChatting()">Start Chatting</button>
      </div>
    </div>
  </div>
</div>